<header>
  <div class="main-container">
    <div class="header-content">
      <div class="logo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Logo</div>
      <nav>
        <span routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</span>
        <span routerLink="/contact" routerLinkActive="active">Contact</span>
        <span routerLink="/stats" routerLinkActive="active">Stats</span>
      </nav>
    </div>
  </div>
</header>