@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/layout";


#divChart{
    display: block;
    margin-top: 80px;
    width: 100%;
    height: 700px;
}