.move-preview{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: aliceblue;
  color: #457b9d;
  padding: 10px;
  border-radius: 12px;

  .title {
    font-weight: bold;
  }
}
