.signup {
  background-image: url("../../../assets/imgs/login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: white;
  height: calc(100vh - 60px);
  padding-top: 50px;

  .signup-form {
      text-align: center;

      form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

      input {
          width: 300px;
          height: 30px;
          border-radius: 8px;
          padding-left: 10px;
      }

      button {
          padding: 6px 12px;
          border-radius: 10px;
          font-size: 16px;
          background-color: #457b9d;
          color: white;
          cursor: pointer;
      }
  }
}
