<section class="home-page">
    <div class="main-container">
        <div class="main-content">
            <div class="discover-crypto">
                <div class="text">
                    <h2 class="title">Discover Samuel's Crypto World</h2>
                    <p class="description">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </div>
                <img src="assets/imgs/hero.png" alt="">
            </div>

            <div class="security">
                <img src="assets/imgs/security.png" alt="">
                <div class="text">
                    <h2 class="title">Worlds Best Security</h2>
                    <p class="description">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </div>
            </div>
        </div>
    </div>
</section>