<article class="contact-details">
    <fa-icon (click)="onBack()" class="icon back" [icon]="faCircleArrowLeft"></fa-icon>
    <fa-icon [routerLink]="['/contact/edit' , contact._id]" class="icon edit" [icon]="faUserPen"></fa-icon>
    <div class="contact-info">
        <span>Name: {{ contact.name }}</span>
        <span>Email: {{ contact.email }}</span>
        <span>Phone: {{ contact.phone }}</span>
        <img src="https://robohash.org/{{contact._id}}?set=set5" alt="" />
    </div>
    <transfer-fund (updateMoves)="updateMoves()" [contact]="contact"></transfer-fund>
    <move-list *ngIf="moves.length" [moves]="moves"></move-list>
</article>
