.contact-preview {
  padding: 10px;

  article {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 25px;

      .contact-name{
        color: black;
      }
  }
}
